<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>John Encalada's Compiler</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link rel="stylesheet" href="css/main.css">
        <script src="js/vendor/modernizr-2.8.3.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div class="container">
		
				<div class="page-header text-center" id="pageHeader">
			<h3>Compiler</h3>
		</div>

        <div class="container">
			<div class="row">
				<div class="col-sm-6 text-center">
					<label>Code</label>
					<br />
					
					<textarea name="textboxInputCode"
						class="form-control noResize"
						id="textboxInputCode"
						rows="15"
						placeholder="Enter your code here..."
						spellcheck="false"></textarea>
						<br />
					<input type="button"
							id="buttonCompile"
							name="buttonCompile"
							class="btn btn-primary btn-md"
							value="Compile"
							onclick="compiler.src.js.app.Lexer.tokeni
							onclick="Compiler.Control.buttonCompileClick(this);">
					<br />
				</div>
				
				<div class="col-sm-6 text-center" id="divLog">
					<br />
			
					<textarea name="textboxLog"
						class="form-control noResize"
						id="textboxLog"
						rows="15"
						readonly="readonly"></textarea>
						<br />
						<br />
						<br />
						
				</div>
				
            <div class="row" id="output">

            </div>
        </div>

        <script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
        <script src="js/vendor/underscore-min.js"></script>
        <script src="js/vendor/backbone-min.js"></script>
        <script src="js/app/Compiler.js"></script>
        <script src="js/app/EventDispatcher.js"></script>
        <script src="js/app/models/CodeFragment.js"></script>
        <script src="js/app/models/Token.js"></script>
        <script src="js/app/Lexer.js"></script>
        <script src="js/app/Parser.js"></script>
        <script src="js/app/Tests.js"></script>

        <script type="text/template" id="valid-code-template">
            <div class="well">
                <h3>Test program <%= index %></h3>
                <pre><%= source_code %></pre>
                <h4>Tokens</h4>
                <pre>
                    <% _.each(tokens, function(token, key, list) { %>
                    <%= "Line " + token.line + ": " + token.name + " [ " + token.code + " ]" %>
                    <% }) %>
                </pre>
            </div>
        </script>

        <script type="text/template" id="invalid-code-template">
            <div class="well">
                <h3>Test program <%= index %></h3>
                <pre><%= source_code %></pre>
                <h4>Error</h4>
                <pre>
                    <%= error %>
                </pre>
            </div>
        </script>

    </body>
</html>
